<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <section class="myheader">
        
    </section>
    <section class="mymainmenu">
        <div class="container-fluid" style="display: flex; justify-content: space-between;">
            <div class="btn-group">
                <form action="/" method="get" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary active" aria-current="page">Trang chủ</button>
                </form>
                <form action="/the" method="get" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary" aria-current="page">Thẻ</button>
                </form>
                <form action="/khachhang" method="get" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary" aria-current="page">Khách hàng</button>
                </form>
                <form action="/taikhoan" method="get" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary" aria-current="page">Tài khoản</button>
                </form>
            </div>
            <div class="btn-group">
                <form action="/auth/dangnhap" method="get" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary" aria-current="page">Đăng xuất</button>
                </form>
            </div>
        </div>
    </section>
    <section class="mymaincontent">Welcome to Admin</section>
    <section class="myfooter">Welcome to Admin</section>

<!--BootstrapJS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>