<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sửa thông tin khách hàng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 100px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Sửa thông tin nhân viên</h5>
          </div>
          <div class="card-body">
            <form id="form-nhanvien_update">
              <div class="form-group">
                <label>ID nhân viên:</label>
                <input type="text" class="form-control" id="id_nhanvien" value="<%=nhanvien.id_nhanvien%>" readonly>
              </div>
              <div class="form-group">
                <label>Họ tên:</label>
                <input type="text" class="form-control" id="hoten" value="<%=nhanvien.hoten%>" required>
              </div>
              <div class="form-group">
                <label>Ngày vào làm:</label>
                <input type="date"  class="form-control" id="ngayvaolam" value="<%= moment(nhanvien.ngayvaolam, 'DD-MM-YYYY').format('YYYY-MM-DD') %>"required>
              </div>
              <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Xử lý sự kiện submit form sửa thông tin khách hàng
    document.getElementById('form-nhanvien_update').addEventListener('submit', function(event) {
      event.preventDefault(); // Ngăn chặn hành vi mặc định của form

      // Lấy giá trị từ các ô nhập liệu
      var id_nhanvien = document.getElementById('id_nhanvien').value;
      var hoten = document.getElementById('hoten').value;
      var ngayVaoLamNewFormat= document.getElementById('ngayvaolam').value;

      // Tạo object chứa dữ liệu cần gửi lên server
      var params = new URLSearchParams();
      params.append('id_nhanvien', id_nhanvien)
      params.append('hoten', hoten);
      params.append('ngayVaoLamNewFormat', ngayVaoLamNewFormat);

      // Gửi request POST đến server để cập nhật thông tin khách hàng
      fetch(`/nhanvien/update_nhanvien/`, {
        method: 'POST',
        body: params
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Cập nhật thông tin nhân viên thất bại');
        }
        return response;
      })
      .then(data => {
        // Hiển thị thông báo thành công khi cập nhật thành công
        Swal.fire({
          icon: 'success',
          title: 'Cập nhật thành công',
          showConfirmButton: false,
          timer: 1500
        }).then(()=>{
            // Redirect về trang danh sách khách hàng sau khi cập nhật thành công
            window.location.href = '/nhanvien';
          });
      })
      .catch(error => {
        // Hiển thị thông báo lỗi khi cập nhật thất bại
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error.message
        });
      });
    });
  </script>
  

<!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
