<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sửa thông tin khách hàng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="my-4">Sửa thông tin khách hàng</h1>

    <!-- Form sửa dữ liệu -->
    <div id="editForm">
      <h3>Sửa thông tin khách hàng</h3>
      <form action="" method="post" id="form-suakhachhang">
        <div class="form-group">
          <label for="id_khachhang">ID khách hàng:</label>
          <input type="hidden" class="form-control" id="sua-id_khachhang" name="sua-id_khachhang" value="<%=khachhang.id_khachhang%>" readonly>
        </div>
        <div class="form-group">
          <label for="sua-sothe">Số thẻ:</label>
          <input type="text" class="form-control" id="sua-sothe" name="sua-sothe" value="<%=the.sothe%>" required>
        </div>
        <div class="form-group">
          <label for="sua-loaithe">Loại thẻ:</label>
          <input type="text" class="form-control" id="sua-loaithe" name="sua-loaithe" value="<%=the.loaithe%>" required>
        </div>
        <div class="form-group">
          <label for="sua-ngaytaothe">Ngày tạo thẻ:</label>
          <input type="date" class="form-control" id="sua-ngaytaothe" name="sua-ngaytaothe" value="<%=the.ngaytaothe%>" required>
        </div>
        <div class="form-group">
          <label for="sua-giatien">Giá tiền:</label>
          <input type="text" class="form-control" id="sua-giatien" name="sua-giatien" value="<%=the.giatien%>" required>
        </div>
        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </div>
  </div>

  <script>
    
  </script>
</body>
</html>
